<footer class="footer">
    <div class="footer__top container">
        <div class="footer__content">
            <h2 class="footer__title">Intersted to work
                with our team?</h2>
            <div class="footer__description text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
        </div>
        <button class="footer__btn">Let’s Talk</button>
    </div>
    <hr class="footer__line">
    <div class="footer__bottom container">
        <ul class="footer__list">
            <li class="footer__item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
            <li class="footer__item">+62-812-7313-4321</li>
            <li class="footer__item">hello.afrian@gmail.com</li>
        </ul>
        <div class="footer__copy">2019 © Afrianska. All rights reserved.</div>
    </div>
</footer>