<section class="project container">
    <div class="project__title title">Our Finished Project</div>
    <div class="project__description text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam.
    </div>
    <div class="project__installation">
        <img src="images/smart-home.png" alt="smart-home" class="project__image">
        <h3 class="project__subtitle">Smart Home Installation</h3>
    </div>
    <div class="project__apps">
        <div class="project__item project__item--margin">
            <img src="images/sparklite-app.png" alt="sparklite-app" class="project__image">
            <h3 class="project__subtitle project__subtitle--mini">Sparklite App</h3>
        </div>
        <div class="project__item">
            <img src="images/car-rapetition.png" alt="car-rapetition" class="project__image">
            <h3 class="project__subtitle project__subtitle--mini">Car-Rapetition App</h3>
        </div>
    </div>
</section>
