<section class="services container">
    <h2 class="services__title title">
        What we do to help our client grow in digital era
    </h2>
    <div class="services__services">
        <div class="card">
            <img class="card__image" src="images/service-1.png" alt="service-1"/>
            <h3 class="card__title">
                Make Your business To Be Better Famous In Internet
            </h3>
            <p class="card__description text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a href="" class="card__link">Learn more</a>
        </div>
        <div class="card">
            <img class="card__image" src="images/service-2.png" alt="service-2"/>
            <h3 class="card__title">
                Bring Technology To Your Comfrotable Home
            </h3>
            <p class="card__description text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a href="" class="card__link">Learn more</a>
        </div>
        <div class="card">
            <img class="card__image" src="images/service-3.png" alt="service-3"/>
            <h3 class="card__title">
                Build Your Digital Product That Suitable For Your Need
            </h3>
            <p class="card__description text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a href="" class="card__link">Learn more</a>
        </div>
    </div>
</section>
