<header class="header">
    <div class="container">
        <ul class="header-info">
            <li class="header-info__item">
                <a href="#" class="header-info__link">
                    <svg class="header-info__icon" width="46" height="48"><use xlink:href="img/sprite.svg#logo"></use></svg>
                </a>
            </li>
            <li class="header-info__item">
                <a href="#" class="header-info__link">
                    <svg class="header-info__icon" width="34" height="38"><use xlink:href="img/sprite.svg#address-book"></use></svg>
                </a>
            </li>
        </ul>
    </div>
</header>
