.card {
    display: flex;
    flex-direction: column;    
    padding: 14px 32px 44px;
    max-width: 359px;
    border-radius: 10px;
    background-color: $default-color;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);   
    @include xl {
        margin-bottom: 32px;
        max-width: 50%;
    } 
    @include md {
        min-width: 336px;
    } 
    @include xs {
        max-width: 90%;
    } 
    &__image {
        margin-bottom: 40px;
        align-self: center;
    }
    &__title {
        margin-bottom: 14px;
        font-size: 20px;
        line-height: 30px;
        color: $text-color;
    }
    &__description {
        margin-bottom: 30px;
    }
    &__link {
        font-size: 14px;
        line-height: 30px;
        color: $light-color;
        &:after {
            content: '';
            display: inline-block;
            background-image: url('images/arrow.svg');
            background-size: cover;
            width: 22px;
            height: 21px;
            margin-left: 20px;  
            vertical-align: middle;
        }    
    }
}