.hero {
    background: linear-gradient(
        0deg,
        #ebf3fb 8.84%,
        rgba(152, 195, 232, 0) 31.12%
    );
    &__content {
        padding: 6.75rem 0 11.875rem;
        background-image: url('images/illustration.png');
        background-repeat: no-repeat;
        background-position: right center;
    }
    &__title {
        margin-bottom: 2rem;
        max-width: 31.5rem;
        font-weight: 300;
        font-size: 4rem;
        color: $primary-color;
        line-height: 4.625rem;
    }
    &__description {
        margin-bottom: 4.4375rem;
        max-width: 26.5625rem;        
    }
    &__btn {
        padding: 0.9375rem 3.125rem;
    }
}
