.hero {
    background: linear-gradient(
        0deg,
        #ebf3fb 8.84%,
        rgba(152, 195, 232, 0) 31.12%
    );
    &__content {
        padding: 98px 0 190px;
        background-image: url('images/illustration.png');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 50%;
        @include lg {
            background-position: bottom 100px right;
            background-size: 50%;
        }
        @include sm {
            padding: 24px 0 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-image: none;            
        }
        
    }
    &__title {
        margin-bottom: 32px;
        max-width: 510px;
        font-weight: 300;
        font-size: 64px;
        line-height: 74px;
        letter-spacing: 0.04em;
        color: $text-color;    
        @include sm {
            margin-bottom: 12px;
            max-width: 260px;
            font-size: 32px;
            line-height: 37px;
            text-align: center;
        }    
    }
    &__description {
        margin-bottom: 70px;
        max-width: 425px;   
        @include sm {
            margin-bottom: 32px;
            max-width: 100%;
            text-align: center;
        }        
    }
}
