.services {
    padding-top: 64px;
    padding-bottom: 64px;
    &__title {
        margin-bottom: 64px;
    }
    &__services {
        display: flex;
        justify-content: space-between;
        @include xl {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}