/* Default style */
*,
*:before,
*:after {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: $font;
    font-size: $mainFontSize;
    font-weight: 400;    
    letter-spacing: 0.05em;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    
}

button {
    border: none;
    cursor: pointer;
}

.container {
    margin: 0 auto;
    max-width: $desktopWidth;    
    @include xl {
        padding: 0 32px;
    }
    @include sm {
        padding: 0 16px;
    }
}
